@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
.contenedor, .contenedor .principal, .contenedor .seccion, .contenedor .pie, .contenedor .pie .pie__principal, .contenedor .pie .pie__principal .pie__redes, .contenedor .container .row div .card__espaciado, .contenedor .encabezado, .contenedor .pie .pie__principal .pie__redes div, .contenedor .pie .pie__derechos, .contenedor .seccion__carta {
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor, .contenedor .principal, .contenedor .seccion, .contenedor .pie, .contenedor .pie .pie__principal, .contenedor .pie .pie__principal .pie__redes, .contenedor .container .row div .card__espaciado {
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

/* Estilos */
.contenedor {
  min-height: 100vh;
  justify-content: space-between;
  gap: 1.9rem; }
  .contenedor .whatsapp {
    display: none; }
  .contenedor .encabezado {
    width: 100%;
    background-color: #b76bf9;
    height: 14rem;
    border-bottom: 1px solid #4a0072; }
    .contenedor .encabezado .encabezado__logo {
      width: 40%; }
      .contenedor .encabezado .encabezado__logo a img {
        width: 8rem;
        display: block;
        margin: auto; }
    .contenedor .encabezado .encabezado__menu ul li {
      list-style-type: none;
      text-align: center;
      padding-bottom: 0; }
      .contenedor .encabezado .encabezado__menu ul li a {
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: whitesmoke; }
  .contenedor .principal {
    width: 90%;
    gap: 1.5rem; }
    .contenedor .principal .principal__texto {
      text-align: center;
      font-size: 1.3rem; }
      .contenedor .principal .principal__texto h1 {
        font-size: 3rem;
        color: #263238;
        margin-bottom: 0.5rem; }
    .contenedor .principal .principal__img {
      display: none; }
    .contenedor .principal .card__boton {
      background-color: #b76bf9;
      color: whitesmoke;
      border: 1px solid #4a0072; }
  .contenedor .seccion {
    background-color: #263238;
    width: 90%;
    gap: 1.5rem;
    padding: 1rem 0; }
    .contenedor .seccion .seccion__texto {
      text-align: center;
      font-size: 1.3rem;
      color: whitesmoke;
      font-weight: 300;
      width: 70%; }
    .contenedor .seccion .seccion__titulo {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 0.5rem; }
    .contenedor .seccion .seccion__imagenes img {
      width: 80%;
      display: block;
      margin: auto; }
    .contenedor .seccion .seccion__imagenes--carta img {
      width: 80%;
      display: block;
      margin: auto; }
    .contenedor .seccion .carousel .carousel-inner .carousel-item .imagen img {
      width: 100%; }
  .contenedor .pie {
    width: 100%;
    background-color: #b76bf9;
    color: whitesmoke;
    padding: 1rem 0; }
    .contenedor .pie p {
      margin: 0; }
    .contenedor .pie .pie__principal {
      gap: 1rem; }
      .contenedor .pie .pie__principal .pie__texto .pie__titulo {
        text-align: center;
        font-size: 1rem; }
      .contenedor .pie .pie__principal .pie__mapa {
        display: none; }
      .contenedor .pie .pie__principal .pie__redes {
        gap: 1rem; }
        .contenedor .pie .pie__principal .pie__redes div a {
          margin: 0 2rem; }
    .contenedor .pie .pie__derechos {
      margin-top: 1rem; }
  .contenedor .seccion__carta {
    width: 90%; }
    .contenedor .seccion__carta .carta {
      width: 100%;
      font-weight: bold;
      display: grid;
      grid-template-rows: 0.3fr repeat(8, 1fr);
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      color: whitesmoke; }
      .contenedor .seccion__carta .carta div a {
        text-decoration: none;
        color: whitesmoke; }
      .contenedor .seccion__carta .carta .carta__titulo {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        text-align: center; }
      .contenedor .seccion__carta .carta .seccion__imagenes--carta .img_descripcion {
        margin-top: 0.5rem;
        text-align: center; }
  .contenedor .container .row div .card__boton {
    background-color: #4a0072;
    width: 100%;
    border: 1px solid black; }
  .contenedor .container .row div .card__boton:focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  .contenedor .container .row div .card__espaciado {
    justify-content: space-between; }
  .contenedor .container .row div .precio {
    color: #2f9b2f; }
  .contenedor .container .row .card__titulo {
    text-align: center;
    font-size: 2rem;
    color: #263238; }
  .contenedor .container .row .card__ancho {
    width: 80%; }
  @media screen and (min-width: 480px) and (max-width: 991px) {
    .contenedor .whatsapp {
      display: block;
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      z-index: 2; }
    .contenedor .encabezado {
      flex-direction: column;
      height: 12rem;
      gap: 1rem; }
      .contenedor .encabezado .encabezado__logo {
        height: 50%; }
        .contenedor .encabezado .encabezado__logo a img {
          width: 5.5rem; }
      .contenedor .encabezado .encabezado__menu ul {
        display: flex;
        gap: 1rem; }
    .contenedor .principal {
      width: 75%; }
      .contenedor .principal .principal__img {
        display: block;
        width: 75%; }
    .contenedor .seccion {
      width: 75%;
      align-content: center; }
    .contenedor .pie .pie__principal .pie__mapa {
      display: block; }
    .contenedor .seccion__carta {
      width: 75%; }
      .contenedor .seccion__carta .carta {
        grid-template-rows: 0.3fr repeat(4, 1fr);
        grid-template-columns: auto auto;
        grid-template-areas: "titulo titulo" "img01 img02" "img03 img04" "img05 img06" "img07 img08";
        justify-content: center;
        row-gap: 1rem; }
        .contenedor .seccion__carta .carta div a img {
          width: 70%;
          display: block;
          margin: auto; }
        .contenedor .seccion__carta .carta .carta__titulo {
          grid-area: titulo; }
        .contenedor .seccion__carta .carta .img01 {
          grid-area: img01; }
        .contenedor .seccion__carta .carta .img02 {
          grid-area: img02; }
        .contenedor .seccion__carta .carta .img03 {
          grid-area: img03; }
        .contenedor .seccion__carta .carta .img04 {
          grid-area: img04; }
        .contenedor .seccion__carta .carta .img05 {
          grid-area: img05; }
        .contenedor .seccion__carta .carta .img06 {
          grid-area: img06; }
        .contenedor .seccion__carta .carta .img07 {
          grid-area: img07; }
        .contenedor .seccion__carta .carta .img08 {
          grid-area: img08; }
    .contenedor .container .row .card__ancho {
      width: 30%; }
    .contenedor .container-fluid .card__formulario {
      width: 50%; } }
  @media screen and (min-width: 992px) {
    .contenedor .whatsapp {
      display: block;
      position: fixed;
      right: 0.2rem;
      bottom: 0.5rem;
      z-index: 2; }
    .contenedor .encabezado {
      height: 5rem;
      flex-direction: row;
      justify-content: space-around;
      position: sticky;
      top: 0;
      z-index: 2; }
      .contenedor .encabezado .encabezado__menu ul {
        display: flex;
        margin: 0;
        padding-left: 0;
        gap: 2rem; }
        .contenedor .encabezado .encabezado__menu ul li {
          padding: 0.5rem;
          border: 1px solid #b76bf9;
          border-radius: 1rem; }
      .contenedor .encabezado .encabezado__logo {
        margin: 0; }
        .contenedor .encabezado .encabezado__logo a img {
          width: 4rem;
          margin-bottom: 0; }
    .contenedor .principal {
      flex-direction: row; }
      .contenedor .principal .principal__texto {
        width: 50%; }
      .contenedor .principal .principal__img {
        display: block;
        width: 50%; }
      .contenedor .principal .card__boton:hover {
        background-color: #4a0072; }
    .contenedor .principal--btn {
      flex-direction: column; }
    .contenedor .seccion {
      flex-direction: row;
      padding: 2rem;
      justify-content: center; }
      .contenedor .seccion .carousel .carousel-inner .carousel-item .imagen img {
        width: 80%;
        display: block;
        margin: auto; }
      .contenedor .seccion .carousel .carousel-inner .carousel-item .imagen-nos img {
        width: auto;
        height: 400px;
        display: block;
        margin: auto; }
      .contenedor .seccion .seccion__texto {
        width: 50%; }
      .contenedor .seccion .seccion__imagenes {
        width: 50%; }
      .contenedor .seccion .seccion__texto--orden {
        order: 2; }
      .contenedor .seccion .seccion__imagenes--orden {
        order: 1; }
    .contenedor .pie .pie__principal {
      width: 100%;
      flex-direction: row;
      padding: 0 4rem; }
      .contenedor .pie .pie__principal .pie__texto {
        width: 33.33%; }
      .contenedor .pie .pie__principal .pie__mapa {
        display: block;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .contenedor .pie .pie__principal .pie__redes {
        width: 33.33%; }
    .contenedor .seccion__carta .carta {
      grid-template-rows: 0.3fr repeat(3, 1fr);
      grid-template-columns: repeat(7, 1fr);
      row-gap: 1rem; }
      .contenedor .seccion__carta .carta .seccion__imagenes--carta a img {
        width: 100%; }
      .contenedor .seccion__carta .carta .carta__titulo {
        grid-row: 1/2;
        grid-column: 3/6; }
      .contenedor .seccion__carta .carta .img01 {
        grid-row: 2/3;
        grid-column: 2/3; }
      .contenedor .seccion__carta .carta .img02 {
        grid-row: 2/3;
        grid-column: 4/5; }
      .contenedor .seccion__carta .carta .img03 {
        grid-row: 2/3;
        grid-column: 6/7; }
      .contenedor .seccion__carta .carta .img04 {
        grid-row: 3/4;
        grid-column: 2/3; }
      .contenedor .seccion__carta .carta .img05 {
        grid-row: 3/4;
        grid-column: 4/5; }
      .contenedor .seccion__carta .carta .img06 {
        grid-row: 3/4;
        grid-column: 6/7; }
      .contenedor .seccion__carta .carta .img07 {
        grid-row: 4/5;
        grid-column: 3/4; }
      .contenedor .seccion__carta .carta .img08 {
        grid-row: 4/5;
        grid-column: 5/6; }
    .contenedor .container .row .card__ancho {
      width: 20%; }
    .contenedor .container-fluid .card__formulario {
      width: 35%; }
    .contenedor .whatsapp:hover {
      transform: rotate(45deg);
      transition: 0.5s; }
    .contenedor .encabezado .encabezado__logo:hover {
      transform: scale(1.1);
      transition: 0.5s; }
    .contenedor .encabezado .encabezado__menu ul li:hover {
      border-color: #4a0072;
      transition: 0.5s; }
    .contenedor .seccion__carta .carta .seccion__imagenes--carta:hover {
      transform: scale(1.1);
      transition: 0.5s; }
    .contenedor .pie .pie__principal .pie__redes div a:hover {
      transform: scale(1.1);
      transition: 0.5s; } }
