@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

/* Estilos */

.contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

/* Icono de whatsapp */

.whatsapp{
    display: none;
}

/* Header */
.encabezado{
    width: 100%;
    background-color: #A020F0;

    height: 16rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #4a0072;
}

.encabezado__logo{
    margin-bottom: 0.5rem;
}
.encabezado__logo a img{
    width: 15%;
    display:block;
    margin:auto;
    margin-bottom: 0.5rem;
}

.encabezado__menu ul li{
    list-style-type: none;
    text-align: center;
    padding-bottom: 0.7rem;
}

.encabezado__menu ul li a{
    text-decoration:none;
    font-size: 1.4rem;
    font-weight: 400;
    color: whitesmoke;
}

/* Main */

.principal{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.principal__texto{
    text-align: center;
    font-size: 1.3rem;
}
.principal__texto h1{
    font-size: 3rem;
    color: #263238;
    margin-bottom: 0.5rem;
}

.principal__img{
    display: none;
}

/* Section */

.seccion{
    background-color: #263238;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 0;
}

.seccion__texto{
    text-align: center;
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 300;
    width: 70%;
}

.seccion__titulo{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.seccion__imagenes img{
    width: 80%;
    display:block;
    margin:auto;
}

/* Footer */

.pie{
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #A020F0;
    color: whitesmoke;
    padding: 1rem 0;
    align-items: center;
} 


.pie__principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.pie__titulo{
    font-size: 1rem;
}

.pie__mapa{
    display: none;
}

.pie__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.pie__redes div{
    display: flex;
}
.pie__redes div a{
    margin: 0 2rem;
}

.pie__derechos{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}

/* Formulario */

.formulario{
	width:90%;
	border-radius:1rem;
	background-color:#6a1b9a;
    color: whitesmoke;
}

.formulario label{
	width:90%;
    border-radius:0.5rem;
	font-weight:bold;
	display:inline-block;
    color: #000;
}

.formulario input[type="text"],
.formulario input[type="email"]{
	width:100%;
    height: 2rem;
	padding: 0.2rem 0.8rem;
	border:0.1rem solid #f6f6f6;
	border-radius:0.2rem;
	background-color:#f6f6f6;
	margin:0.6rem 0;
	display:inline-block;
}

.formulario input[type="submit"]{
	width:100%;
	padding:0.5rem 1rem;
	margin-top:0.5rem;
	border:1px solid #000;
	border-radius:0.8rem;
	display:block;
	color:#fff;
	background-color:#000;
} 

/* Carta */

.carta{
    width: 90%;
    font-weight: bold;
    display: grid;
    grid-template-rows: 0.3fr repeat(8,1fr);
    grid-template-columns:auto;

    justify-content: center;
    align-items: center;

    row-gap: 1rem;
}

.carta__titulo{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: center;
}

.img_descripcion{
    margin-top: 0.5rem;
    text-align: center;
}

/* Media queries */

@media screen and (min-width: 480px) and (max-width: 991px)  {

    /* Icono de whatsapp */
    .whatsapp{
        display: block;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 2;
    }

    /* Header */
    .encabezado{
        height: 8rem;
    }
    .encabezado__menu ul{
        display: flex; 
        gap: 1.6rem;
    }

    /* Main */
    .principal{
        width: 75%;
    }
    
    .principal__img{
        display: block;
        width: 75%;
    }

    /* Section */
    .seccion{
        width: 75%;
        align-content: center;
    }

    /* Footer */
    .pie__mapa{
        display: block;
    }

    /* Carta */
    .carta{
        grid-template-rows: 0.3fr repeat(4,1fr);
        grid-template-columns: auto auto;
        grid-template-areas: 
                            "titulo titulo"
                            "img01 img02"
                            "img03 img04"
                            "img05 img06"
                            "img07 img08";
        justify-content: center;
        row-gap: 1rem;
    }
    .carta div a img{
        width: 70%;
        display:block;
        margin:auto;
    }

    .carta__titulo{
        grid-area: titulo;
    }
    .img01{
        grid-area: img01;
    }

    .img02{
        grid-area: img02;
    }

    .img03{
        grid-area: img03;
    }

    .img04{
        grid-area: img04;
    }

    .img05{
        grid-area: img05;
    }

    .img06{
        grid-area: img06;
    }

    .img07{
        grid-area: img07;
    }

    .img08{
        grid-area: img08;
    }
}

@media screen and (min-width: 992px){

    /* Icono de whatsapp */
    .whatsapp{
        display: block;
        position: fixed;
        right: 0.2rem;
        bottom: 0.5rem;
        z-index: 2;
    }

    /* Header */
    .encabezado{
        height: 5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        position: sticky;
        top: 0;
        z-index: 2;
    }

    .encabezado__menu ul{
        display: flex; 
        gap: 2rem;
    }

    .encabezado__menu ul li{
        padding: 0.5rem;
        border:1px solid #A020F0;
	    border-radius:1rem;
    }

    .encabezado__logo{
        margin: 0;
    }
    .encabezado__logo a img{
        margin-bottom: 0;
    }

    /* Main */
    .principal{
        flex-direction: row;
    }

    .principal__texto{
        width: 50%;
    }
    .principal__img{
        display: block;
        width: 50%;
    }

    /* Section */
    .seccion{
        flex-direction: row;
        padding: 2rem;
        justify-content: center; 
    }
    .seccion__texto{
        width: 50%;
    }
    .seccion__imagenes{
        width: 50%;
    }

    .seccion__texto--orden{
        order: 2;
    }
    .seccion__imagenes--orden{
        order: 1;
    }

    /* Footer */

    .pie__principal{
        width: 100%;
        flex-direction: row;
        padding: 0 4rem;
    }
    .pie__texto{
        width: 33.33%;
    }
    .pie__mapa{
        display: block;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie__redes{
        width: 33.33%;
    }


    /* Carta */
    .carta{
        grid-template-rows: 0.3fr repeat(3,1fr);
        grid-template-columns: repeat(7,1fr);
        row-gap: 1rem;
    }
    .carta div a img{
        width: 100%;
    }

    .carta__titulo{
        grid-row: 1/2;
        grid-column: 3/6;
    }
    .img01{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .img02{
        grid-row: 2/3;
        grid-column: 4/5;
    }

    .img03{
        grid-row: 2/3;
        grid-column: 6/7;
    }

    .img04{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .img05{
        grid-row: 3/4;
        grid-column: 4/5;
    }

    .img06{
        grid-row: 3/4;
        grid-column: 6/7;
    }

    .img07{
        grid-row: 4/5;
        grid-column: 3/4;
    }

    .img08{
        grid-row: 4/5;
        grid-column: 5/6;
    }

    /* Transformaciones */
    .encabezado__logo:hover,.whatsapp:hover,.pie__redes div a:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    .encabezado__menu ul li:hover{
        border-color: #4a0072;
        transition: 0.5s;
    }

}